@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
	color: var(--marketplaceColor);
  margin: 40px auto 30px auto;
  width: 90%;
  text-align: center;
  @media (--viewportMedium) {
		width: 80%;
		max-width: 800px;
		
	}
}

.steps {
  display: flex;
  flex-direction: column;
  margin: auto;
	align-items: center;

}

.step {
    width: 90%;
	@media (--viewportMedium) {
		width: 70%;
		max-width: 800px;
		
	}
   
}

.step:last-of-type {

}
.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {
	@apply --marketplaceButtonStyles;
  background-color: #4183D7;
  animation-delay: 0.8s;
  margin: 60px auto;
  width: 260px;
	

  @media (--viewportMedium) {
    display: block;
    width: 260px;
	
  }
}
/*.createListingLink {
	 color: var(--marketplaceColorLight); 
	text-align: center;
  margin-top: 56px;

  @media (max-width:549px){
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }
}
.createListingLink a{
  background: #000;
  padding: 11px 70px 14px !important;
  color: #fff;
  border-radius: 4px;
  line-height: 0;

  @media (max-width:549px){
    font-size:14px;
    padding: 11px 40px 14px !important;
  }
}*/